name: 컨테이너 배포
on:
  workflow_call:
    secrets:
      SSH_HOST:
        required: true
      SSH_USERNAME:
        required: true
      SSH_PASSWORD:
        required: true
      SSH_PORT:
        required: true
      DISCORD_WEBHOOK_URL:
        required: true
    inputs:
      environment:
        required: true
        type: string
      image-tag:
        required: true
        type: string
      image-name:
        required: true
        type: string
      service-name:
        required: true
        type: string

env:
  IMAGE_TAG: 'latest'
  ENVIRONMENT: ${{ inputs.environment || 'local' }}

jobs:
  deploy:
    runs-on: [ ubuntu-latest ]
    name: 서비스 배포
    environment: ${{ inputs.environment }}

    permissions:
      id-token: write
      contents: read

    steps:
      - name: GitHub 에서 레포 받아오기
        uses: actions/checkout@v3

      - name: 배포 스크립트 실행
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ~/easip/server
            sudo docker rm -f $(sudo docker ps -aq --filter "ancestor=${{ inputs.image-name }}")
            sudo docker pull ${{ inputs.image-name }}:latest
            sudo docker compose --env-file .env.${{ inputs.environment }} up -d
            sudo docker image prune -f
